:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  height: 100svh;
}

nav {
  display: flex;
  justify-content: center;
}
nav a {
  color: rgb(179, 179, 179);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
  margin: 0px 15px;
  width: 160px;
}
nav a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.active {
  color: #fff;
  background-color: #007bff; /* or any accent color you prefer */
  border-radius: 5px;
  padding: 5px 10px;
}

.active:hover {
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.wordl {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wordl h1 {
  color: rgba(255, 255, 255, 0.288);
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.411);
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 20px;
}
.wordl-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.wordl-row {
  display: flex;
  gap: 4px;
}

.wordl-row-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background-color: rgb(77, 77, 77);
  text-transform: uppercase;
}
.wrong {
  background-color: red;
  animation: pulseWords 0.6s infinite, pulse 1s infinite;
}

.empty-letter-box {
  animation: shakeBox 2s infinite;
}

@keyframes pulse {
  0% {
    background-color: hsla(0, 100%, 73%, 0.616);
  }
  50% {
    background-color: hsla(0, 95%, 78%, 0.616);
  }
  100% {
    background-color: hsla(0, 100%, 73%, 0.616);
  }
}
@keyframes pulseWords {
  0% {
    font-size: 2rem;
  }
  25% {
    font-size: 2.4rem;
  }
  50% {
    font-size: 2rem;
  }
  75% {
    font-size: 2rem;
  }
  100% {
    font-size: 2rem;
  }
}

@keyframes shakeBox {
  0% {
    transform: rotate(7deg);
  }
  10% {
    transform: rotate(-7deg);
  }
  20% {
    transform: rotate(7deg);
  }
  30% {
    transform: rotate(-7deg);
  }
  40% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  60% {
    transform: rotate(7deg);
  }
  70% {
    transform: rotate(-7deg);
  }
}

.undefined-letter-box {
  background-color: rgb(255, 255, 152);
  color: black;
  animation: shakeBoxRight 1s;
}
.correct-letter-box {
  background-color: rgb(148, 255, 148);
  color: white;
  animation: shakeBoxRight 1s;
}
.wrong-letter-box {
  background-color: rgb(255, 124, 124);
  color: white;
  animation: shakeBoxWrong 0.5s;
}

@keyframes shakeBoxWrong {
  0% {
    transform: rotate(7deg);
  }

  50% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(7deg);
  }
}
@keyframes shakeBoxRight {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.reset-wordl {
  margin-top: 1px;
  border: none;
  color: rgb(36, 36, 36);
  border-radius: 3px;
  background-color: rgb(219, 219, 219);
  height: 35px;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.13s all ease-in-out;
}
.reset-wordl:hover {
  background-color: #dbe9ff;
}

.reset-wordl:active {
  background-color: #798494;
  transform: translateY(2px);
}

.modal {
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #0e0e0eec;
  height: 500px;
  border-radius: 20px;
  border: none;
  width: 400px;
  backdrop-filter: blur(2px);
  transform: translate(-50%, -50%);
  transition: 0.5s all ease-in-out;
}
.modal::backdrop {
  background: rgba(158, 158, 158, 0.5);
}

.modal .winner-text {
  color: rgb(49, 255, 186);
  font-size: 2.6rem;
}
.modal .loser-text {
  color: rgb(255, 104, 33);
  font-size: 2.6rem;
}
.modal-show {
  opacity: 1;
}
.modal-content {
  padding: 20px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* Correct word styling */
.modal-correct-word {
  text-transform: capitalize;
  font-size: 2.2rem;
  margin: 20px 0;
  color: #f1f8ff;
}
.modal-content button {
  background-color: #007bff; /* Primary color for the button */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s all ease-in-out;
  margin-top: 30px;
}
.modal-content button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
.modal-correct-word span {
  border-top: 1px solid rgb(255, 255, 255);
}
@media (max-width: 490px) {
  .title-wordl {
    font-size: 2.5rem !important;
  }

  .wordl-row-box {
    height: 65px;
    width: 65px;
  }
}

@media (max-width: 410px) {
  .wordl-row-box {
    height: 65px;
    width: 65px;
  }

  .modal-correct-word {
    font-size: 2rem;
  }

  .winner-text,
  .loser-text {
    font-size: 2.2rem !important;
  }

  .modal-content button {
    background-color: #007bff; /* Primary color for the button */
    color: white;
    border: none;
    padding: 9px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: 0.3s all ease-in-out;
  }
}

@media (max-width: 400px) {
  /* .title-wordl {
    font-size: 1.95rem !important;
  } */

  .wordl-row-box {
    height: 55px;
    width: 55px;
  }

  .modal-correct-word {
    font-size: 1.65rem;
  }

  .winner-text,
  .loser-text {
    font-size: 1.9rem !important;
  }

  .modal-content button {
    background-color: #007bff; /* Primary color for the button */
    color: white;
    border: none;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s all ease-in-out;
  }
  .modal {
    height: 430px;
  }
}

@media (max-width: 350px) {
  .title-wordl {
    font-size: 2.1rem !important;
  }

  .wordl-row-box {
    height: 48px;
    width: 48px;
  }

  .modal-correct-word {
    font-size: 1.45rem;
  }

  .winner-text,
  .loser-text {
    font-size: 1.7rem !important;
  }

  .modal-content button {
    background-color: #007bff; /* Primary color for the button */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s all ease-in-out;
  }
  .modal {
    height: 400px;
  }
}
